run = "pnpm dev"
entrypoint = "apps/api/src/index.ts"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "pnpm start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 4000
externalPort = 4000
